.information {
  display: none;
}

h2 {
  cursor: pointer;
  color: #8811ff;
}

h2:hover {
  text-decoration: underline;
}

.panel {
  background-color: orange;
}

.panel-heading {
  background-color: red;

}
