.information {
  display: none;
}

body {
  background-color: #f9c618;
}

.jumbotron {
  text-align: center;
}

h2 {
  cursor: pointer;
  color: #6a4b2b;
}

h2:hover {
  text-decoration: underline;
}


.panel-heading {
  background-color: #d65219;

}

.panel {
  background-color: #f6f0e7;
}
